<%- include('header'); -%>
<div class="about-us">
  <h1>About Us</h1>
  <p>First javascript project using express.js  </p>
  <p>A To Do list to create category wise</p>
  <h3>Write to us at sunayana.barua@gmail.com </h3>
</div>

<%- include('footer'); -%>
