html {
  background-color: #D9DFE5;
  background-image: -webkit-linear-gradient(65deg, #DCEAF3 50%, #EDD4DC 50%);
  min-height: 1000px;
  font-family: 'Verdana';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  align-items: right;
  max-width: 600px;
  margin: 50px auto;
  background: #DEE9ED;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #DFC3D1;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: right;
  border-bottom: 1px solid #DCEAF3;
}

.item:last-child {
  border-bottom: 0;
}

input#markedchecked:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}
input:checked {
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #384476;
}

form.item {
  text-align: left;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #D49BB0;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #D49BB0;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* mystyles */
.about-us{
  padding: 50px;
  text-align: center;
  color: grey;
}
